body {
  background-color: hsl(212, 45%, 89%);
}
.container {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  border: 1px solid white;
  background-color: white; /*hsl(0, 0, 100%); */
  border-radius: 20px;
  flex-direction: column;
  border-width: 30px;
  width:250px;
  justify-content: center;
  align-items: center;
  text-align: center
 /* margin: auto*/;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.img {
  display: flex;
  flex-direction: row;
  background-color: #2c7dfa;
  width: 250px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.para {
  display: flex;
  flex-direction: column;
  background-color: white;
}
img {
  width: 150px;
  height: 150px;
}
h3{font-family:"Outfit";
font-weight: 700;}
p{font-family:"Outfit";
    font-size: 15px;
    font-weight:400
}
